$color-white: #fff;
$color-black: #151522;

$color-grey-light-1: #b3b3b3; // 40% light
$color-grey: #808080;
$color-grey-dark-1: #4d4d4d; // 40% dark

$color-blue-progress: #00BFFF;
$color-bg-blue-progress: #eafaff;
$color-orange-progress: #F89880;
$color-green-progress: #32de84;
$color-pink-progress: #F9629F;

$color-blue-shadow: #bbeeff;
$color-bg-blue-shadow: #eafaff;
$color-beige-shadow: #FDE5CC;
$color-green-shadow: hsl(149, 100%, 82%);
$color-pink-shadow: #ffdfed;

$color-primary: #f1f0ff;
$color-primary-light: #F3F6FD;
$color-primary-dark: #d2d0e4;

$color-beige: #FDE5CC;

$color-green: #B4F1CE;

$color-pink: #FFD3E2;



// $color-azure: #DDECEF;

// $color-mint-green : #CEF2EE;